html{
  height: 100%;
}

*{
  margin: 0;
}

body{
  background-color: rgb(245, 245, 247);
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: stretch;
  align-items: stretch;
}

div{
  display: flex;
  justify-content: center;
}

.one{
  grid-column: 1/3;
  background-color: #C0C0C0; color: white;
  border-radius: 25px;
  padding: 0.5em;
  margin: 30px 30px 0 30px;
  display: flex; flex-direction: column; justify-content: space-around;
}

.two{
  background-color: orange; color: white;
  border-radius: 25px;
  padding: 0.5em;
  margin: 0 0 0 30px;
  display: flex; flex-direction: column; justify-content: space-around;
}

.three{
  background-color: #C0C0C0; color: white;
  border-radius: 25px;
  padding: 0.5em;
  margin: 0 30px 0 0;
  display: flex; flex-direction: column; justify-content: space-around;
}

.four{
  grid-column: 1/3;
  background-color: #C0C0C0; color: white;
  border-radius: 25px;
  padding: 0.5em;
  margin: 0 30px 30px 30px;
  display: flex; flex-direction: column; justify-content: space-around;
}

.text{
  font-size: 40px;
}

.numbers{
  font-size: 60px;

}

::-webkit-scrollbar
{
    width: 0px;
    padding-left: 5px;
    background-color: transparent;
}
